.section-about {
  width: 100vw;
  height: 80vh;
  background-color: rgb(255, 254, 254);
  border-top: 2px solid #000;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: relative;

  .image-box {
    width: 50%;
    height: 80%;
    margin: 30px;
    border-radius: 250px 233px 530px 52px;

    img {
      width: 100%;
      min-height: auto;
      object-fit: fill;
    }
  }

  // -------------
  h1 {
    position: absolute;
    top: 25%;
    left: 70.5%;
    transform: translate(-70.5%, -25%);
    span {
      font-style: italic;
    }
  }
  p {
    width: 60%;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 1.1em;
  }
}

// -------------------------
.section-top {
  width: 100vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 2px solid #000;

  h1 {
    text-align: center;
    padding: 150px 0 0px 0;
    margin-top: 30px;
    font-size: 3.5em;
  }
  p {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.8em;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}
.container {
  // background-color: rgba(255, 255, 255, 0.6);
  padding: 10em 10em 10em 12em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  // the auto fit will make it adaptable to the device.
  // the minmax means that the box will always keep that size, unless i change it.
  // if you dont add the fraction, leaving alone the 250px, the box will occupy the 100% width, but using the fraction will put it in 2 rows.
  border-bottom: 2px solid #000;

  //   --------------

  .image {
    width: 95%;
    height: auto;
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 6px solid rgba(248, 236, 125, 0.5);
    box-shadow: 15px -15px 0 0 rgb(171, 200, 238);
    background-color: rgb(255, 255, 255);
    margin: 20px;
    transition: all 0.5s ease-in-out;
    &:hover {
      border: 6px solid rgb(0, 0, 0);
    }

    img {
      margin: 10px;
      width: 70%;
      min-height: auto;
      object-fit: cover;
    }

    h3 {
      font-size: 1rem;
      text-align: center;
      color: rgb(0, 0, 0);
      padding: 5px 10px 10px 10px;
      margin: 10px;
    }
    h4 {
      text-align: center;
      font-size: 0.8rem;
      color: rgb(139, 139, 139);
      padding: 5px 10px 10px 10px;
      margin: 10px;
    }
  }

  a {
    text-decoration: none;
  }
  .addToCart {
    margin: 20px 10px 30px 10px;
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: #000;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    cursor: pointer;
    text-align: center;
    color: rgb(255, 255, 255);
    &:hover {
      color: rgb(0, 0, 0);
      border: 1px solid rgb(0, 0, 0);
      background-color: transparent;
    }
  }
}
// ------------------
// ------------------

.footer {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin: 60px;
    color: rgb(255, 255, 255);
    word-spacing: 2px;
  }
}
